In [2]:
import pandas as pd
import ast

bangalore_cars = pd.read_excel('C:/Users/ncssa/Downloads/bangalore_cars.xlsx')
chennai_cars = pd.read_excel('C:/Users/ncssa/Downloads/chennai_cars.xlsx')
hyderabad_cars = pd.read_excel('C:/Users/ncssa/Downloads/hyderabad_cars.xlsx')
kolkata_cars = pd.read_excel('C:/Users/ncssa/Downloads/kolkata_cars.xlsx')
jaipur_cars = pd.read_excel('C:/Users/ncssa/Downloads/jaipur_cars.xlsx')
delhi_cars = pd.read_excel('C:/Users/ncssa/Downloads/delhi_cars.xlsx')

In [3]:
def car_data(df):
    d1_list = []
    d2_list = []
    d3_list = []
    d4_list = []
    d5_list = []
    for row in range(len(df)):
        a = df.iloc[row]["new_car_detail"]
        res = ast.literal_eval(a)
        d1_df = pd.DataFrame([res])
        d1_list.append(d1_df)
        
        b = df.iloc[row]["new_car_overview"]
        res = ast.literal_eval(b)
        d2_df = pd.DataFrame([res])
        key_lst=[]
        val_lst=[]
        for i in d2_df["top"]:
            for j in i:
                key_lst.append(j["key"])
                val_lst.append(j["value"])
        result = dict(zip(key_lst, val_lst))
        d2_df = pd.DataFrame([result])
        d2_list.append(d2_df)
        
        c = df.iloc[row]["new_car_feature"]
        res = ast.literal_eval(c)
        d3_df = pd.DataFrame()
        for i in res.keys():
            if i == 'heading':
                d3_df[res[i]] = [len(res["top"])]
            elif i == 'data':
                for a in res[i]:
                    for b in a:
                        if b == 'heading':
                            d3_df[a[b]] = [len(a["list"])]
        d3_list.append(d3_df)
        
        d = df.iloc[row]["new_car_specs"]
        res = ast.literal_eval(d)
        d4_df = pd.DataFrame()
        for i in res.keys():
            if i == 'top':
                for j in res[i]:
                    d4_df[j["key"]] = [j["value"]]
            elif i == 'data':
                for a in res[i]:
                    for b in a:
                        if b == 'heading':
                            d4_df[a[b]] = [len(a["list"])]
                        elif b == 'list':
                            for j in a[b]:
                                d4_df[j["key"]] = [j["value"]]
        d4_df = d4_df.rename(columns={'Seats':'Seats_capacity'})
        d4_list.append(d4_df)
        
        e = df.iloc[row]["car_links"]
        d5_df = pd.DataFrame([e])
        d5_list.append(d5_df) 

       
        
    d1 = pd.concat(d1_list, ignore_index=True)
    d2 = pd.concat(d2_list, ignore_index=True)
    d3 = pd.concat(d3_list, ignore_index=True)
    d4 = pd.concat(d4_list, ignore_index=True)
    d5 = pd.concat(d5_list, ignore_index=True)
    
    
    df = d1.join(d2).join(d3).join(d4).join(d5)
    df.rename(columns={0:"car_links"},inplace = True)
    
    return df

In [4]:
df_newbangalore_cars = car_data(bangalore_cars)
df_newchennai_cars = car_data(chennai_cars)
df_newdelhi_cars = car_data(delhi_cars)
df_newjaipur_cars = car_data(jaipur_cars)
df_newhyderabad_cars = car_data(hyderabad_cars)
df_newkolkata_cars = car_data(kolkata_cars)
df_newbangalore_cars['city'] = "Bangalore"
df_newchennai_cars['city'] = "Chennai"
df_newdelhi_cars['city'] = "Delhi"
df_newjaipur_cars['city'] = "Jaipur"
df_newhyderabad_cars['city'] = "Hyderabad"
df_newkolkata_cars['city'] = "Kolkata"

In [5]:
df_newcity_cars = pd.concat([df_newbangalore_cars,df_newchennai_cars,df_newdelhi_cars,df_newjaipur_cars,df_newhyderabad_cars,df_newkolkata_cars],ignore_index = True)

In [6]:
df_newcity_cars

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size,Ground Clearance Unladen,car_links,city
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,14,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,14,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,16,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,NaN,"Tubeless, Radial",5,313,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,140 kmph,19 Seconds,Tubeless Tyres,5,177-litres,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,230km/hr,8.8 Seconds,"Tubeless,Radial",4,475-litres,17,17,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,156 Kmph,15 Seconds,"Tubeless,Radial",5,236-liters,14,14,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,168 Kmph,14.20 Seconds,"Tubeless,Radial",5,410-litres,16,16,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata

In [7]:
df_newcity_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 78 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   it                             8369 non-null   int64
 1   ft                             8369 non-null   object
 2   bt                             8369 non-null   object
 3   km                             8369 non-null   object
 4   transmission                   8369 non-null   object
 5   ownerNo                        8369 non-null   int64
 6   owner                          8369 non-null   object
 7   oem                            8369 non-null   object
 8   model                          8369 non-null   object
 9   modelYear                      8369 non-null   int64
 10  centralVariantId               8369 non-null   int64
 11  variantName                    8369 non-null   object
 12  price                          8369 non-null   object
 13  priceActual                    8369 non-null   object
 14  priceSaving                    8369 non-null   object
 15  priceFixedText                 0 non-null      object
 16  trendingText                   8369 non-null   object
 17  Registration Year              8317 non-null   object
 18  Insurance Validity             8365 non-null   object
 19  Fuel Type                      8369 non-null   object
 20  Seats                          8363 non-null   object
 21  Kms Driven                     8367 non-null   object
 22  RTO                            7481 non-null   object
 23  Ownership                      8337 non-null   object
 24  Engine Displacement            8365 non-null   object
 25  Transmission                   8369 non-null   object
 26  Year of Manufacture            8349 non-null   float64
 27  Features                       8369 non-null   int64
 28  Comfort & Convenience          8301 non-null   float64
 29  Interior                       8292 non-null   float64
 30  Exterior                       8279 non-null   float64
 31  Safety                         8273 non-null   float64
 32  Entertainment & Communication  7274 non-null   float64
 33  Mileage                        8082 non-null   object
 34  Engine                         8365 non-null   object
 35  Max Power                      8309 non-null   object
 36  Torque                         8309 non-null   object
 37  Seats_capacity                 8364 non-null   object
 38  Engine and Transmission        8366 non-null   float64
 39  Color                          8366 non-null   object
 40  Engine Type                    8074 non-null   object
 41  Displacement                   8365 non-null   object
 42  Max Torque                     8309 non-null   object
 43  No of Cylinder                 8338 non-null   float64
 44  Values per Cylinder            8318 non-null   float64
 45  Value Configuration            6153 non-null   object
 46  Fuel Suppy System              6642 non-null   object
 47  BoreX Stroke                   2405 non-null   object
 48  Compression Ratio              1895 non-null   object
 49  Turbo Charger                  7329 non-null   object
 50  Super Charger                  6407 non-null   object
 51  Dimensions & Capacity          8329 non-null   float64
 52  Length                         8290 non-null   object
 53  Width                          8286 non-null   object
 54  Height                         8290 non-null   object
 55  Wheel Base                     8206 non-null   object
 56  Front Tread                    4811 non-null   object
 57  Rear Tread                     4799 non-null   object
 58  Kerb Weight                    8310 non-null   object
 59  Gross Weight                   3828 non-null   object
 60  Miscellaneous                  8364 non-null   float64
 61  Gear Box                       8263 non-null   object
 62  Drive Type                     6809 non-null   object
 63  Seating Capacity               8363 non-null   object
 64  Steering Type                  8114 non-null   object
 65  Turning Radius                 6769 non-null   object
 66  Front Brake Type               8273 non-null   object
 67  Rear Brake Type                8273 non-null   object
 68  Top Speed                      4607 non-null   object
 69  Acceleration                   4857 non-null   object
 70  Tyre Type                      8292 non-null   object
 71  No Door Numbers                8358 non-null   object
 72  Cargo Volumn                   6776 non-null   object
 73  Wheel Size                     5386 non-null   object
 74  Alloy Wheel Size               5386 non-null   object
 75  Ground Clearance Unladen       515 non-null    object
 76  car_links                      8369 non-null   object
 77  city                           8369 non-null   object
dtypes: float64(11), int64(5), object(62)
memory usage: 5.0+ MB

In [8]:
df_newcity_cars.describe()

,it,ownerNo,modelYear,centralVariantId,Year of Manufacture,Features,Comfort & Convenience,Interior,Exterior,Safety,Entertainment & Communication,Engine and Transmission,No of Cylinder,Values per Cylinder,Dimensions & Capacity,Miscellaneous
count,8369.0,8369.000000,8369.000000,8369.000000,8349.000000,8369.000000,8301.000000,8292.000000,8279.000000,8273.000000,7274.000000,8366.000000,8338.000000,8318.000000,8329.000000,8364.000000
mean,0.0,1.360139,2016.503286,4962.537340,2016.547850,8.785160,15.734610,10.303304,10.755647,23.112293,7.694116,10.627540,3.802471,3.934359,6.643655,11.135820
std,0.0,0.641958,3.921465,2747.040479,3.811882,0.911979,6.403504,2.430612,4.735766,6.875646,2.469793,1.905772,0.594613,0.792698,1.278769,1.757909
min,0.0,0.000000,1985.000000,5.000000,2002.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000
25%,0.0,1.000000,2014.000000,2042.000000,2014.000000,9.000000,11.000000,9.000000,7.000000,19.000000,6.000000,10.000000,4.000000,4.000000,5.000000,10.000000
50%,0.0,1.000000,2017.000000,5320.000000,2017.000000,9.000000,15.000000,11.000000,11.000000,24.000000,8.000000,11.000000,4.000000,4.000000,7.000000,12.000000
75%,0.0,2.000000,2019.000000,7121.000000,2019.000000,9.000000,20.000000,12.000000,14.000000,28.000000,9.000000,12.000000,4.000000,4.000000,8.000000,13.000000
max,0.0,5.000000,2023.000000,11098.000000,2023.000000,9.000000,37.000000,18.000000,27.000000,48.000000,21.000000,13.000000,23.000000,69.000000,9.000000,13.000000

In [9]:
# Save the DataFrame as a CSV file
df_newcity_cars.to_csv('C:/Users/ncssa/Downloads/df_newcity_cars.csv', index=False)

In [14]:
import pandas as pd
df = pd.read_csv('C:/Users/ncssa/Downloads/df_newcity_cars.csv')
df

C:\Users\ncssa\AppData\Local\Temp\ipykernel_12712\2681987655.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/ncssa/Downloads/df_newcity_cars.csv')

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Alloy Wheel Size,Ground Clearance Unladen,car_links,city
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,150 Kmph,15.05 Seconds,"Tubeless, Radial",5.0,235-litres,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,NaN,NaN,"Tubeless,Radial",4.0,352-litres,16,16,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,14,14,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,172km/hr,14.2 Seconds,"Tubeless,Radial",4.0,407-litres,14,14,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,190 Kmph,12 Seconds,"Tubeless,Radial",5.0,353-litres,16,16,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,NaN,"Tubeless, Radial",5.0,313,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,140 kmph,19 Seconds,Tubeless Tyres,5.0,177-litres,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,230km/hr,8.8 Seconds,"Tubeless,Radial",4.0,475-litres,17,17,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,156 Kmph,15 Seconds,"Tubeless,Radial",5.0,236-liters,14,14,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,168 Kmph,14.20 Seconds,"Tubeless,Radial",5.0,410-litres,16,16,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 78 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   it                             8369 non-null   int64
 1   ft                             8369 non-null   object
 2   bt                             8365 non-null   object
 3   km                             8369 non-null   object
 4   transmission                   8369 non-null   object
 5   ownerNo                        8369 non-null   int64
 6   owner                          8369 non-null   object
 7   oem                            8369 non-null   object
 8   model                          8369 non-null   object
 9   modelYear                      8369 non-null   int64
 10  centralVariantId               8369 non-null   int64
 11  variantName                    8369 non-null   object
 12  price                          8369 non-null   object
 13  priceActual                    1670 non-null   object
 14  priceSaving                    0 non-null      float64
 15  priceFixedText                 0 non-null      float64
 16  trendingText                   8369 non-null   object
 17  Registration Year              8317 non-null   object
 18  Insurance Validity             8365 non-null   object
 19  Fuel Type                      8369 non-null   object
 20  Seats                          8363 non-null   object
 21  Kms Driven                     8367 non-null   object
 22  RTO                            7475 non-null   object
 23  Ownership                      8337 non-null   object
 24  Engine Displacement            8365 non-null   object
 25  Transmission                   8369 non-null   object
 26  Year of Manufacture            8349 non-null   float64
 27  Features                       8369 non-null   int64
 28  Comfort & Convenience          8301 non-null   float64
 29  Interior                       8292 non-null   float64
 30  Exterior                       8279 non-null   float64
 31  Safety                         8273 non-null   float64
 32  Entertainment & Communication  7274 non-null   float64
 33  Mileage                        8082 non-null   object
 34  Engine                         8365 non-null   object
 35  Max Power                      8309 non-null   object
 36  Torque                         8309 non-null   object
 37  Seats_capacity                 8363 non-null   float64
 38  Engine and Transmission        8366 non-null   float64
 39  Color                          8366 non-null   object
 40  Engine Type                    8074 non-null   object
 41  Displacement                   8365 non-null   float64
 42  Max Torque                     8309 non-null   object
 43  No of Cylinder                 8338 non-null   float64
 44  Values per Cylinder            8318 non-null   float64
 45  Value Configuration            6153 non-null   object
 46  Fuel Suppy System              6642 non-null   object
 47  BoreX Stroke                   2405 non-null   object
 48  Compression Ratio              1895 non-null   object
 49  Turbo Charger                  7329 non-null   object
 50  Super Charger                  6407 non-null   object
 51  Dimensions & Capacity          8329 non-null   float64
 52  Length                         8290 non-null   object
 53  Width                          8286 non-null   object
 54  Height                         8290 non-null   object
 55  Wheel Base                     8206 non-null   object
 56  Front Tread                    4811 non-null   object
 57  Rear Tread                     4799 non-null   object
 58  Kerb Weight                    8310 non-null   object
 59  Gross Weight                   3828 non-null   object
 60  Miscellaneous                  8364 non-null   float64
 61  Gear Box                       8263 non-null   object
 62  Drive Type                     6809 non-null   object
 63  Seating Capacity               8363 non-null   float64
 64  Steering Type                  8114 non-null   object
 65  Turning Radius                 6769 non-null   object
 66  Front Brake Type               8273 non-null   object
 67  Rear Brake Type                8273 non-null   object
 68  Top Speed                      4607 non-null   object
 69  Acceleration                   4857 non-null   object
 70  Tyre Type                      8292 non-null   object
 71  No Door Numbers                8358 non-null   float64
 72  Cargo Volumn                   6776 non-null   object
 73  Wheel Size                     5386 non-null   object
 74  Alloy Wheel Size               5386 non-null   object
 75  Ground Clearance Unladen       515 non-null    object
 76  car_links                      8369 non-null   object
 77  city                           8369 non-null   object
dtypes: float64(17), int64(5), object(56)
memory usage: 5.0+ MB

In [16]:
import pandas as pd

# Assuming df is your DataFrame
# Drop columns that are empty
df = df.dropna(axis=1, how='all')

# Drop columns that have only one unique value
df = df.loc[:, df.nunique() > 1]

# Display the cleaned DataFrame
print(df)

          ft         bt        km transmission  ownerNo      owner  \
0     Petrol  Hatchback  1,20,000       Manual        3  3rd Owner
1     Petrol        SUV    32,706       Manual        2  2nd Owner
2     Petrol  Hatchback    11,949       Manual        1  1st Owner
3     Petrol      Sedan    17,794       Manual        1  1st Owner
4     Diesel        SUV    60,000       Manual        1  1st Owner
...      ...        ...       ...          ...      ...        ...
8364  Petrol  Hatchback    10,000       Manual        1  1st Owner
8365  Petrol  Hatchback  1,20,000       Manual        1  1st Owner
8366  Petrol      Sedan    50,000    Automatic        3  3rd Owner
8367  Petrol  Hatchback    40,000       Manual        1  1st Owner
8368  Diesel        SUV  1,20,000       Manual        2  2nd Owner

                oem                  model  modelYear  centralVariantId  ...  \
0            Maruti         Maruti Celerio       2015              3979  ...
1              Ford          Ford Ecosport       2018              6087  ...
2              Tata             Tata Tiago       2018              2983  ...
3           Hyundai          Hyundai Xcent       2014              1867  ...
4            Maruti     Maruti SX4 S Cross       2015              4277  ...
...             ...                    ...        ...               ...  ...
8364         Maruti         Maruti Celerio       2022              8682  ...
8365         Maruti        Maruti Alto 800       2014              3943  ...
8366  Mercedes-Benz  Mercedes-Benz C-Class       2011              4672  ...
8367         Maruti            Maruti Ritz       2012              4144  ...
8368        Renault         Renault Duster       2017              5048  ...

     Top Speed   Acceleration         Tyre Type No Door Numbers Cargo Volumn  \
0     150 Kmph  15.05 Seconds  Tubeless, Radial             5.0   235-litres
1          NaN            NaN   Tubeless,Radial             4.0   352-litres
2     150 kmph   14.3 Seconds          Tubeless             5.0   242-litres
3     172km/hr   14.2 Seconds   Tubeless,Radial             4.0   407-litres
4     190 Kmph     12 Seconds   Tubeless,Radial             5.0   353-litres
...        ...            ...               ...             ...          ...
8364       NaN            NaN  Tubeless, Radial             5.0          313
8365  140 kmph     19 Seconds    Tubeless Tyres             5.0   177-litres
8366  230km/hr    8.8 Seconds   Tubeless,Radial             4.0   475-litres
8367  156 Kmph     15 Seconds   Tubeless,Radial             5.0   236-liters
8368  168 Kmph  14.20 Seconds   Tubeless,Radial             5.0   410-litres

     Wheel Size Alloy Wheel Size Ground Clearance Unladen  \
0           NaN              NaN                      NaN
1            16               16                      NaN
2            14               14                      NaN
3            14               14                      NaN
4            16               16                      NaN
...         ...              ...                      ...
8364        NaN              NaN                      NaN
8365        NaN              NaN                      NaN
8366         17               17                      NaN
8367         14               14                      NaN
8368         16               16                      NaN

                                              car_links       city
0     https://www.cardekho.com/used-car-details/used...  Bangalore
1     https://www.cardekho.com/buy-used-car-details/...  Bangalore
2     https://www.cardekho.com/used-car-details/used...  Bangalore
3     https://www.cardekho.com/buy-used-car-details/...  Bangalore
4     https://www.cardekho.com/used-car-details/used...  Bangalore
...                                                 ...        ...
8364  https://www.cardekho.com/used-car-details/used...    Kolkata
8365  https://www.cardekho.com/used-car-details/used...    Kolkata
8366  https://www.cardekho.com/used-car-details/used...    Kolkata
8367  https://www.cardekho.com/used-car-details/used...    Kolkata
8368  https://www.cardekho.com/used-car-details/used...    Kolkata

[8369 rows x 74 columns]

In [165]:
import pandas as pd

def col_info(df, column_name):
    """
    Print information about a specific column in a DataFrame.
    
    Parameters:
    df (pd.DataFrame): The DataFrame containing the column.
    column_name (str): The name of the column to analyze.
    """
    if column_name not in df.columns:
        print(f"Column '{column_name}' does not exist in the DataFrame.")
        return
    
    col = df[column_name]
    
    print(f"Column Name: {column_name}, "
          f"Total Null: {col.isnull().sum()}, "
          f"Number of Unique Values: {col.nunique()}, "
          f"Unique Values: {col.unique()}, "
          f"Data Type: {col.dtype}")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 59 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   bt                             8365 non-null   object
 1   km                             8369 non-null   int64
 2   transmission                   8369 non-null   object
 3   ownerNo                        8369 non-null   int64
 4   model                          8369 non-null   object
 5   modelYear                      8369 non-null   int64
 6   price                          8259 non-null   float64
 7   priceActual                    1670 non-null   float64
 8   Insurance Validity             8365 non-null   object
 9   Fuel Type                      8369 non-null   object
 10  RTO                            7475 non-null   object
 11  Features                       8369 non-null   int64
 12  Comfort & Convenience          8301 non-null   float64
 13  Interior                       8292 non-null   float64
 14  Exterior                       8279 non-null   float64
 15  Safety                         8273 non-null   float64
 16  Entertainment & Communication  7274 non-null   float64
 17  Mileage                        8082 non-null   float64
 18  Max Power                      8309 non-null   float64
 19  Torque                         8309 non-null   float64
 20  Engine and Transmission        8366 non-null   float64
 21  Color                          8366 non-null   object
 22  Engine Type                    8074 non-null   object
 23  Displacement                   8365 non-null   float64
 24  Max Torque                     8309 non-null   float64
 25  No of Cylinder                 8338 non-null   float64
 26  Values per Cylinder            8318 non-null   float64
 27  Value Configuration            6153 non-null   object
 28  Fuel Suppy System              6642 non-null   object
 29  BoreX Stroke                   2405 non-null   float64
 30  Compression Ratio              1895 non-null   float64
 31  Turbo Charger                  7329 non-null   object
 32  Super Charger                  6407 non-null   object
 33  Dimensions & Capacity          8329 non-null   float64
 34  Length                         8290 non-null   float64
 35  Width                          8286 non-null   float64
 36  Height                         8290 non-null   float64
 37  Wheel Base                     8206 non-null   float64
 38  Front Tread                    4811 non-null   float64
 39  Rear Tread                     4799 non-null   float64
 40  Kerb Weight                    8309 non-null   float64
 41  Gross Weight                   3828 non-null   float64
 42  Miscellaneous                  8364 non-null   float64
 43  Gear Box                       8263 non-null   object
 44  Drive Type                     6809 non-null   object
 45  Seating Capacity               8363 non-null   float64
 46  Steering Type                  8114 non-null   object
 47  Turning Radius                 6769 non-null   float64
 48  Front Brake Type               8273 non-null   object
 49  Rear Brake Type                8273 non-null   object
 50  Top Speed                      4582 non-null   float64
 51  Acceleration                   4857 non-null   float64
 52  Tyre Type                      8292 non-null   object
 53  No Door Numbers                8358 non-null   float64
 54  Cargo Volumn                   6776 non-null   float64
 55  Wheel Size                     5386 non-null   float64
 56  Ground Clearance Unladen       515 non-null    float64
 57  car_links                      8369 non-null   object
 58  city                           8369 non-null   object
dtypes: float64(35), int64(4), object(20)
memory usage: 3.8+ MB

In [17]:
num_col=['km','ownerNo','Mileage','No of Cylinder','Wheel Size','Cargo Volumn','No Door Numbers','Turning Radius','Ground Clearance Unladen',
         'Acceleration','Top Speed','Miscellaneous','Values per Cylinder','Kerb Weight','Gross Weight','Rear Tread','Front Tread','Wheel Base',
         'Height','Width','Length','Compression Ratio','Dimensions & Capacity','modelYear','BoreX Stroke','Displacement',
         'Engine and Transmission','Seating Capacity','Features','Comfort & Convenience','Interior','Exterior','Safety',
         'Entertainment & Communication','Torque']
cat_col=['Fuel Type','bt','Drive Type','Front Brake Type','Rear Brake Type','Tyre Type','Insurance Validity','Steering Type','RTO','Engine Type',
         'Gear Box','Value Configuration','Fuel Suppy System','Turbo Charger','Super Charger','model','Color','car_links','city']
lecode = ['transmission']
dup_col = ['owner','Engine Displacement','oem','centralVariantId','variantName','Registration Year','ft','Kms Driven',
           'Transmission','Year of Manufacture','Seats','Engine','Alloy Wheel Size','Ownership','Seats_capacity']
spl_col = ['Max Power','Max Torque','price','priceActual']

In [18]:
print(len(num_col)+len(cat_col)+len(lecode)+len(dup_col)+len(spl_col))

74

In [19]:
import numpy as np
import pandas as pd

def convert_price(value):
    # Check if the value is NaN
    if pd.isna(value):
        return np.nan
    
    # Remove the currency symbol and whitespace
    clean_value = value.replace('₹', '').strip()
    
    # Check for "Lakh" and "Crore" keywords and extract the numeric part
    if 'Lakh' in clean_value or 'Lakhs' in clean_value or 'lakh' in clean_value or 'lakhs' in clean_value:
        numeric_part = pd.to_numeric(clean_value.replace('Lakh', '').replace('Lakhs', '').replace('lakh', '').replace('lakhs', '').strip(), errors='coerce')
        return numeric_part * 100000 if numeric_part is not np.nan else np.nan
    elif 'Crore' in clean_value or 'Crores' in clean_value or 'crore' in clean_value or 'crores' in clean_value:
        numeric_part = pd.to_numeric(clean_value.replace('Crore', '').replace('Crores', '').replace('crore', '').replace('crores', '').strip(), errors='coerce')
        return numeric_part * 10000000 if numeric_part is not np.nan else np.nan
    else:
        return pd.to_numeric(clean_value, errors='coerce')  # Directly convert if there are no keywords

# Apply the function to the 'price' column and store the result in 'priceActual'
df['priceActual'] = df['priceActual'].apply(convert_price)
df['price'] = df['price'].apply(convert_price)

In [20]:
# Dropping specified columns from the DataFrame
df = df.drop(columns=dup_col)

# Extracting the numerical part before "@" and converting to numeric
df['Max Power'] = pd.to_numeric(df['Max Power'].str.split('@').str[0].str.replace(r'[^0-9.]', '', regex=True), errors='coerce')
df['Max Torque'] = pd.to_numeric(df['Max Torque'].str.split('@').str[0].str.replace(r'[^0-9.]', '', regex=True), errors='coerce')
df[['Max Power','Max Torque']]


for col in num_col:
    # Remove all non-digit characters, including periods, and convert to numeric type
    df[col] = pd.to_numeric(df[col].astype(str).str.replace(r'[^0-9.]', '', regex=True), errors='coerce')
    
num_col.extend(spl_col)
print(num_col)

df.info()

['km', 'ownerNo', 'Mileage', 'No of Cylinder', 'Wheel Size', 'Cargo Volumn', 'No Door Numbers', 'Turning Radius', 'Ground Clearance Unladen', 'Acceleration', 'Top Speed', 'Miscellaneous', 'Values per Cylinder', 'Kerb Weight', 'Gross Weight', 'Rear Tread', 'Front Tread', 'Wheel Base', 'Height', 'Width', 'Length', 'Compression Ratio', 'Dimensions & Capacity', 'modelYear', 'BoreX Stroke', 'Displacement', 'Engine and Transmission', 'Seating Capacity', 'Features', 'Comfort & Convenience', 'Interior', 'Exterior', 'Safety', 'Entertainment & Communication', 'Torque', 'Max Power', 'Max Torque', 'price', 'priceActual']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 59 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   bt                             8365 non-null   object
 1   km                             8369 non-null   int64
 2   transmission                   8369 non-null   object
 3   ownerNo                        8369 non-null   int64
 4   model                          8369 non-null   object
 5   modelYear                      8369 non-null   int64
 6   price                          8259 non-null   float64
 7   priceActual                    1670 non-null   float64
 8   Insurance Validity             8365 non-null   object
 9   Fuel Type                      8369 non-null   object
 10  RTO                            7475 non-null   object
 11  Features                       8369 non-null   int64
 12  Comfort & Convenience          8301 non-null   float64
 13  Interior                       8292 non-null   float64
 14  Exterior                       8279 non-null   float64
 15  Safety                         8273 non-null   float64
 16  Entertainment & Communication  7274 non-null   float64
 17  Mileage                        8082 non-null   float64
 18  Max Power                      8309 non-null   float64
 19  Torque                         8309 non-null   float64
 20  Engine and Transmission        8366 non-null   float64
 21  Color                          8366 non-null   object
 22  Engine Type                    8074 non-null   object
 23  Displacement                   8365 non-null   float64
 24  Max Torque                     8309 non-null   float64
 25  No of Cylinder                 8338 non-null   float64
 26  Values per Cylinder            8318 non-null   float64
 27  Value Configuration            6153 non-null   object
 28  Fuel Suppy System              6642 non-null   object
 29  BoreX Stroke                   1435 non-null   float64
 30  Compression Ratio              1884 non-null   float64
 31  Turbo Charger                  7329 non-null   object
 32  Super Charger                  6407 non-null   object
 33  Dimensions & Capacity          8329 non-null   float64
 34  Length                         8290 non-null   float64
 35  Width                          8286 non-null   float64
 36  Height                         8290 non-null   float64
 37  Wheel Base                     8206 non-null   float64
 38  Front Tread                    4811 non-null   float64
 39  Rear Tread                     4799 non-null   float64
 40  Kerb Weight                    8309 non-null   float64
 41  Gross Weight                   3828 non-null   float64
 42  Miscellaneous                  8364 non-null   float64
 43  Gear Box                       8263 non-null   object
 44  Drive Type                     6809 non-null   object
 45  Seating Capacity               8363 non-null   float64
 46  Steering Type                  8114 non-null   object
 47  Turning Radius                 6745 non-null   float64
 48  Front Brake Type               8273 non-null   object
 49  Rear Brake Type                8273 non-null   object
 50  Top Speed                      4582 non-null   float64
 51  Acceleration                   4857 non-null   float64
 52  Tyre Type                      8292 non-null   object
 53  No Door Numbers                8358 non-null   float64
 54  Cargo Volumn                   6776 non-null   float64
 55  Wheel Size                     5386 non-null   float64
 56  Ground Clearance Unladen       515 non-null    float64
 57  car_links                      8369 non-null   object
 58  city                           8369 non-null   object
dtypes: float64(35), int64(4), object(20)
memory usage: 3.8+ MB

In [21]:
df['Seating Capacity']

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
8364    5.0
8365    5.0
8366    5.0
8367    5.0
8368    5.0
Name: Seating Capacity, Length: 8369, dtype: float64

In [22]:
df

,bt,km,transmission,ownerNo,model,modelYear,price,priceActual,Insurance Validity,Fuel Type,...,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Ground Clearance Unladen,car_links,city
0,Hatchback,120000,Manual,3,Maruti Celerio,2015,400000.0,NaN,Third Party insurance,Petrol,...,Drum,150.0,15.05,"Tubeless, Radial",5.0,235.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,SUV,32706,Manual,2,Ford Ecosport,2018,811000.0,NaN,Comprehensive,Petrol,...,Drum,NaN,NaN,"Tubeless,Radial",4.0,352.0,16.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,Hatchback,11949,Manual,1,Tata Tiago,2018,585000.0,NaN,Comprehensive,Petrol,...,Drum,150.0,14.30,Tubeless,5.0,242.0,14.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,Sedan,17794,Manual,1,Hyundai Xcent,2014,462000.0,NaN,Comprehensive,Petrol,...,Drum,172.0,14.20,"Tubeless,Radial",4.0,407.0,14.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,SUV,60000,Manual,1,Maruti SX4 S Cross,2015,790000.0,NaN,Third Party insurance,Diesel,...,Solid Disc,190.0,12.00,"Tubeless,Radial",5.0,353.0,16.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,10000,Manual,1,Maruti Celerio,2022,510000.0,NaN,Third Party insurance,Petrol,...,Drum,NaN,NaN,"Tubeless, Radial",5.0,313.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8365,Hatchback,120000,Manual,1,Maruti Alto 800,2014,180000.0,NaN,Third Party insurance,Petrol,...,Drum,140.0,19.00,Tubeless Tyres,5.0,177.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8366,Sedan,50000,Automatic,3,Mercedes-Benz C-Class,2011,550000.0,NaN,Third Party insurance,Petrol,...,Solid Disc,230.0,8.80,"Tubeless,Radial",4.0,475.0,17.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8367,Hatchback,40000,Manual,1,Maruti Ritz,2012,140000.0,NaN,Third Party insurance,Petrol,...,Drum,156.0,15.00,"Tubeless,Radial",5.0,236.0,14.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8368,SUV,120000,Manual,2,Renault Duster,2017,500000.0,NaN,Third Party insurance,Diesel,...,Drum,168.0,14.20,"Tubeless,Radial",5.0,410.0,16.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 59 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   bt                             8365 non-null   object
 1   km                             8369 non-null   int64
 2   transmission                   8369 non-null   object
 3   ownerNo                        8369 non-null   int64
 4   model                          8369 non-null   object
 5   modelYear                      8369 non-null   int64
 6   price                          8259 non-null   float64
 7   priceActual                    1670 non-null   float64
 8   Insurance Validity             8365 non-null   object
 9   Fuel Type                      8369 non-null   object
 10  RTO                            7475 non-null   object
 11  Features                       8369 non-null   int64
 12  Comfort & Convenience          8301 non-null   float64
 13  Interior                       8292 non-null   float64
 14  Exterior                       8279 non-null   float64
 15  Safety                         8273 non-null   float64
 16  Entertainment & Communication  7274 non-null   float64
 17  Mileage                        8082 non-null   float64
 18  Max Power                      8309 non-null   float64
 19  Torque                         8309 non-null   float64
 20  Engine and Transmission        8366 non-null   float64
 21  Color                          8366 non-null   object
 22  Engine Type                    8074 non-null   object
 23  Displacement                   8365 non-null   float64
 24  Max Torque                     8309 non-null   float64
 25  No of Cylinder                 8338 non-null   float64
 26  Values per Cylinder            8318 non-null   float64
 27  Value Configuration            6153 non-null   object
 28  Fuel Suppy System              6642 non-null   object
 29  BoreX Stroke                   1435 non-null   float64
 30  Compression Ratio              1884 non-null   float64
 31  Turbo Charger                  7329 non-null   object
 32  Super Charger                  6407 non-null   object
 33  Dimensions & Capacity          8329 non-null   float64
 34  Length                         8290 non-null   float64
 35  Width                          8286 non-null   float64
 36  Height                         8290 non-null   float64
 37  Wheel Base                     8206 non-null   float64
 38  Front Tread                    4811 non-null   float64
 39  Rear Tread                     4799 non-null   float64
 40  Kerb Weight                    8309 non-null   float64
 41  Gross Weight                   3828 non-null   float64
 42  Miscellaneous                  8364 non-null   float64
 43  Gear Box                       8263 non-null   object
 44  Drive Type                     6809 non-null   object
 45  Seating Capacity               8363 non-null   float64
 46  Steering Type                  8114 non-null   object
 47  Turning Radius                 6745 non-null   float64
 48  Front Brake Type               8273 non-null   object
 49  Rear Brake Type                8273 non-null   object
 50  Top Speed                      4582 non-null   float64
 51  Acceleration                   4857 non-null   float64
 52  Tyre Type                      8292 non-null   object
 53  No Door Numbers                8358 non-null   float64
 54  Cargo Volumn                   6776 non-null   float64
 55  Wheel Size                     5386 non-null   float64
 56  Ground Clearance Unladen       515 non-null    float64
 57  car_links                      8369 non-null   object
 58  city                           8369 non-null   object
dtypes: float64(35), int64(4), object(20)
memory usage: 3.8+ MB

In [24]:
# Save the DataFrame as a CSV file
df.to_csv('C:/Users/ncssa/Downloads/df_cars.csv', index=False)

In [26]:
df = pd.read_csv('C:/Users/ncssa/Downloads/df_cars.csv')
df

,bt,km,transmission,ownerNo,model,modelYear,price,priceActual,Insurance Validity,Fuel Type,...,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Ground Clearance Unladen,car_links,city
0,Hatchback,120000,Manual,3,Maruti Celerio,2015,400000.0,NaN,Third Party insurance,Petrol,...,Drum,150.0,15.05,"Tubeless, Radial",5.0,235.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,SUV,32706,Manual,2,Ford Ecosport,2018,811000.0,NaN,Comprehensive,Petrol,...,Drum,NaN,NaN,"Tubeless,Radial",4.0,352.0,16.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,Hatchback,11949,Manual,1,Tata Tiago,2018,585000.0,NaN,Comprehensive,Petrol,...,Drum,150.0,14.30,Tubeless,5.0,242.0,14.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,Sedan,17794,Manual,1,Hyundai Xcent,2014,462000.0,NaN,Comprehensive,Petrol,...,Drum,172.0,14.20,"Tubeless,Radial",4.0,407.0,14.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,SUV,60000,Manual,1,Maruti SX4 S Cross,2015,790000.0,NaN,Third Party insurance,Diesel,...,Solid Disc,190.0,12.00,"Tubeless,Radial",5.0,353.0,16.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,10000,Manual,1,Maruti Celerio,2022,510000.0,NaN,Third Party insurance,Petrol,...,Drum,NaN,NaN,"Tubeless, Radial",5.0,313.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8365,Hatchback,120000,Manual,1,Maruti Alto 800,2014,180000.0,NaN,Third Party insurance,Petrol,...,Drum,140.0,19.00,Tubeless Tyres,5.0,177.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8366,Sedan,50000,Automatic,3,Mercedes-Benz C-Class,2011,550000.0,NaN,Third Party insurance,Petrol,...,Solid Disc,230.0,8.80,"Tubeless,Radial",4.0,475.0,17.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8367,Hatchback,40000,Manual,1,Maruti Ritz,2012,140000.0,NaN,Third Party insurance,Petrol,...,Drum,156.0,15.00,"Tubeless,Radial",5.0,236.0,14.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8368,SUV,120000,Manual,2,Renault Duster,2017,500000.0,NaN,Third Party insurance,Diesel,...,Drum,168.0,14.20,"Tubeless,Radial",5.0,410.0,16.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata

In [27]:
cat_col

['Fuel Type',
 'bt',
 'Drive Type',
 'Front Brake Type',
 'Rear Brake Type',
 'Tyre Type',
 'Insurance Validity',
 'Steering Type',
 'RTO',
 'Engine Type',
 'Gear Box',
 'Value Configuration',
 'Fuel Suppy System',
 'Turbo Charger',
 'Super Charger',
 'model',
 'Color',
 'car_links',
 'city']

In [28]:
import pandas as pd
# Standardize values by removing spaces, converting to lowercase, and simplifying terms
df['Drive Type'] = df['Drive Type'].str.strip().str.lower()

# Define standard terms
standard_drive_types = {
    'fwd': ['fwd', 'front wheel drive'],
    'rwd': ['rwd', 'rear wheel drive', 'rear wheel drive with esp', 'rwd(with mtt)'],
    'awd': ['awd', 'all wheel drive', 'permanent all-wheel drive quattro', 'awd integrated management'],
    '4x4': ['4x4', '4 wd', '4wd', '4x4'],
    '4x2': ['4x2', '2 wd', '2wd', 'two wheel drive']
}

# Map the drive types to their standard forms
def standardize_drive_type(value):
    for standard, variants in standard_drive_types.items():
        if value in variants:
            return standard
    return value  # Return the original if not in the standard list

# Apply the standardization function
df['Drive Type'] = df['Drive Type'].apply(standardize_drive_type)



# Standardize values by removing spaces, converting to lowercase, and simplifying terms
df['Front Brake Type'] = df['Front Brake Type'].str.strip().str.lower()

# Define standard terms
standard_brake_types = {
    'ventilated disc': [
        'ventilated disc', 'ventilated discs', 'ventilated disk', 'ventilated disc ',
        'ventilated disc', 'ventilated disc', 'ventilated disc', 'ventilated disk', 'ventilated disc',
        'booster assisted ventilated disc', 'ventilated disc', 'ventilated disc', 'caliper ventilated disc',
        'ventilated disc', 'ventilated disc', 'ventillated disc', 'ventilated disc','vantilated disc','ventlated disc',
    ],
    'disc': [
        'disc', 'disc ', ' disc', 'disc & caliper type', 'disc, 236 mm', 'multilateral disc',
        'solid disc', 'disk', 'discs', 'disc brakes', 'disc,internally ventilated ', 'solid disc','disc,internally ventilated'
    ],
    'drum': ['drum'],
    'electric parking brake': ['electric parking brake'],
    'abs': ['abs'],
    'hydraulic dual circuit': [
        'vacuum assisted hydraulic dual circuit w', 'mechanical-hydraulic dual circuit',
        'tandem master cylinder with servo assist'
    ]
}

# Map the brake types to their standard forms
def standardize_brake_type(value):
    for standard, variants in standard_brake_types.items():
        if value in variants:
            return standard
    return value  # Return the original if not in the standard list

# Apply the standardization function
df['Front Brake Type'] = df['Front Brake Type'].apply(standardize_brake_type)



# Standardize values by removing spaces, converting to lowercase, and simplifying terms
df['Rear Brake Type'] = df['Rear Brake Type'].str.strip().str.lower()

# Define standard terms
standard_brake_types = {
    'drum': [
        'drum', 'self adjusting drum', 'drum ', 'drums', 'self-adjusting drum', 'self adjusting drums',
        'drums 180 mm', 'booster assisted drum', 'leading-trailing drum', 'leading & trailing drum',
        'ventilated drum', 'drum`', 'drum in disc', 'drum in discs', '228.6 mm dia, drums on rear wheels'
    ],
    'solid disc': ['solid disc', 'solid disc '],
    'ventilated disc': [
        'ventilated disc', 'ventilated discs', 'ventilated disc ', 'ventialte disc'
    ],
    'disc': [
        'disc', 'disc ', 'discs', 'disc & caliper type', 'disc & drum'
    ],
    'electric parking brake': ['electric parking brake'],
    'hydraulic dual circuit': [
        'vacuum assisted hydraulic dual circuit w', 'mechanical-hydraulic dual circuit'
    ]
}

# Map the brake types to their standard forms
def standardize_brake_type(value):
    for standard, variants in standard_brake_types.items():
        if value in variants:
            return standard
    return value  # Return the original if not in the standard list

# Apply the standardization function
df['Rear Brake Type'] = df['Rear Brake Type'].apply(standardize_brake_type)



# Standardize values by removing extra spaces, converting to lowercase, and simplifying terms
df['Tyre Type'] = df['Tyre Type'].str.strip().str.lower()

# Define standard terms
standard_tyre_types = {
    'tubeless radial': [
        'tubeless, radial', 'tubeless,radial', 'radial, tubeless', 'tubeless radial tyres',
        'radial tubeless', 'tubeless radial', 'radial,tubeless', 'tubeless tyres, radial',
        'tubeless radials tyre', 'tubeless, radials', 'tubless, radial', 'tubless,radial',
        'radial tyres', 'tubeless radials', 'tubeless','tubeless,radials'
    ],
    'runflat': [
        'runflat tyres', 'runflat tyre', 'run-flat', 'runflat', 'tubeless,runflat',
        'runflat,radial', 'tubeless. runflat', 'tubeless, runflat'
    ],
    'radial with tube': ['radial with tube'],
    'tubeless all terrain': ['tubeless tyres all terrain'],
    'tubeless mud terrain': ['tubeless tyres mud terrain'],
    'tubeless tyre': ['tubeless tyre', 'tubeless tyres', 'tubeless ']
}

# Map the tyre types to their standard forms
def standardize_tyre_type(value):
    for standard, variants in standard_tyre_types.items():
        if value in variants:
            return standard
    return value  # Return the original if not in the standard list

# Apply the standardization function
df['Tyre Type'] = df['Tyre Type'].apply(standardize_tyre_type)




# Standardize values by stripping spaces and converting to lowercase
df['Insurance Validity'] = df['Insurance Validity'].str.strip().str.lower()

# Define standard terms
standard_insurance_validity = {
    'third party': ['third party insurance', 'third party'],
    'comprehensive': ['comprehensive'],
    'zero dep': ['zero dep'],
    'not available': ['not available'],
    '1 year': ['1'],
    '2 years': ['2']
}

# Map the insurance validity to their standard forms
def standardize_insurance_validity(value):
    for standard, variants in standard_insurance_validity.items():
        if value in variants:
            return standard
    return value  # Return the original if not in the standard list

# Apply the standardization function
df['Insurance Validity'] = df['Insurance Validity'].apply(standardize_insurance_validity)




# Standardize values by stripping spaces and converting to lowercase
df['Steering Type'] = df['Steering Type'].str.strip().str.lower()

# Define standard terms
standard_steering_types = {
    'power': ['power'],
    'electric': ['electric', 'epas', 'electrical', 'electronic'],
    'manual': ['manual'],
    'hydraulic': ['hydraulic']
}

# Map the steering types to their standard forms
def standardize_steering_type(value):
    for standard, variants in standard_steering_types.items():
        if value in variants:
            return standard
    return value  # Return the original if not in the standard list

# Apply the standardization function
df['Steering Type'] = df['Steering Type'].apply(standardize_steering_type)




# Standardize values by stripping spaces and converting to uppercase
df['RTO'] = df['RTO'].str.strip().str.upper()



df['Engine Type'] = df['Engine Type'].str.strip().str.upper()




df['Fuel Suppy System'] = df['Fuel Suppy System'].str.strip().str.upper()



df['Gear Box'] = df['Gear Box'].str.strip().str.upper()


df['Value Configuration'] = df['Value Configuration'].str.strip().str.upper()


df['Turbo Charger'] = df['Turbo Charger'].str.strip().str.upper()



df['Super Charger'] = df['Super Charger'].str.strip().str.upper()



df['Color'] = df['Color'].str.strip().str.lower()

In [30]:
df

,bt,km,transmission,ownerNo,model,modelYear,price,priceActual,Insurance Validity,Fuel Type,...,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Ground Clearance Unladen,car_links,city
0,Hatchback,120000,Manual,3,Maruti Celerio,2015,400000.0,NaN,third party,Petrol,...,drum,150.0,15.05,tubeless radial,5.0,235.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,SUV,32706,Manual,2,Ford Ecosport,2018,811000.0,NaN,comprehensive,Petrol,...,drum,NaN,NaN,tubeless radial,4.0,352.0,16.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,Hatchback,11949,Manual,1,Tata Tiago,2018,585000.0,NaN,comprehensive,Petrol,...,drum,150.0,14.30,tubeless radial,5.0,242.0,14.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,Sedan,17794,Manual,1,Hyundai Xcent,2014,462000.0,NaN,comprehensive,Petrol,...,drum,172.0,14.20,tubeless radial,4.0,407.0,14.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,SUV,60000,Manual,1,Maruti SX4 S Cross,2015,790000.0,NaN,third party,Diesel,...,solid disc,190.0,12.00,tubeless radial,5.0,353.0,16.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,10000,Manual,1,Maruti Celerio,2022,510000.0,NaN,third party,Petrol,...,drum,NaN,NaN,tubeless radial,5.0,313.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8365,Hatchback,120000,Manual,1,Maruti Alto 800,2014,180000.0,NaN,third party,Petrol,...,drum,140.0,19.00,tubeless tyre,5.0,177.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8366,Sedan,50000,Automatic,3,Mercedes-Benz C-Class,2011,550000.0,NaN,third party,Petrol,...,solid disc,230.0,8.80,tubeless radial,4.0,475.0,17.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8367,Hatchback,40000,Manual,1,Maruti Ritz,2012,140000.0,NaN,third party,Petrol,...,drum,156.0,15.00,tubeless radial,5.0,236.0,14.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
8368,SUV,120000,Manual,2,Renault Duster,2017,500000.0,NaN,third party,Diesel,...,drum,168.0,14.20,tubeless radial,5.0,410.0,16.0,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata

In [31]:
# Save the DataFrame as a CSV file
df.to_csv('C:/Users/ncssa/Downloads/df_newcars.csv', index=False)

In [32]:
df = pd.read_csv('C:/Users/ncssa/Downloads/df_newcars.csv')
df.head()

,bt,km,transmission,ownerNo,model,modelYear,price,priceActual,Insurance Validity,Fuel Type,...,Rear Brake Type,Top Speed,Acceleration,Tyre Type,No Door Numbers,Cargo Volumn,Wheel Size,Ground Clearance Unladen,car_links,city
0,Hatchback,120000,Manual,3,Maruti Celerio,2015,400000.0,NaN,third party,Petrol,...,drum,150.0,15.05,tubeless radial,5.0,235.0,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,SUV,32706,Manual,2,Ford Ecosport,2018,811000.0,NaN,comprehensive,Petrol,...,drum,NaN,NaN,tubeless radial,4.0,352.0,16.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,Hatchback,11949,Manual,1,Tata Tiago,2018,585000.0,NaN,comprehensive,Petrol,...,drum,150.0,14.30,tubeless radial,5.0,242.0,14.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,Sedan,17794,Manual,1,Hyundai Xcent,2014,462000.0,NaN,comprehensive,Petrol,...,drum,172.0,14.20,tubeless radial,4.0,407.0,14.0,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,SUV,60000,Manual,1,Maruti SX4 S Cross,2015,790000.0,NaN,third party,Diesel,...,solid disc,190.0,12.00,tubeless radial,5.0,353.0,16.0,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore

In [ ]:
#Handling Missing Values
import pandas as pd

def null_value_imputer(df):
    # Handling null values
    for i in df.columns:
        if (df[i].isnull().sum() / len(df)) * 100 >= 80:
            df.drop(i, axis=1, inplace=True)
        elif df[i].dtypes in ["int64", "float64"]:
            if df[i].skew() < 0.4 and df[i].skew() > -0.4:
                df[i] = df[i].fillna(df[i].mean())
            else:
                df[i] = df[i].fillna(df[i].median())
        else:
            df[i] = df[i].fillna(df[i].mode()[0])


    #print("Null values after imputation:\n", df.isnull().sum())

    # Removing outliers using IQR method
    for col in df.select_dtypes(include=['int64', 'float64']).columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Filter the data to remove outliers
        df1 = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

    #print("Data after removing outliers:\n", df.describe())

    return df1
cleandf = null_value_imputer(df)


# Save the DataFrame as a CSV file
cleandf.to_csv('C:/Users/ncssa/Downloads/cleandf_cars.csv', index=False)